* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #212121;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin: 0 auto;
    padding-top: 20vh;
}

.display {
    display: flex;
    align-self: center;
    justify-content: end;
    align-items: center;
    width: 350px;
    height: 110px;
    background-color: #212121;
    border: 1px solid white;
    box-sizing: border-box;
    padding-right: 20px;
    font-size: 30px;
    color: white;
}

.row {
display: flex;
flex: 1;
justify-content: center;
flex-wrap: wrap;
}

.btn {
    width: 25%;
    height: 80px;
}

.btn.equals,
.btn.zero,
.btn.clear {
    width: 50%;
}

.decimal,
.digit,
.equals,
.clear {
    background-color: #212121;
    color: white;
}

.op {
    background-color: #14FFEC;
}